.HeroSectionBody {
  background-color: #200788;
  overflow: hidden;
}

.HeroSectionBody::before,
.HeroSectionBody::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(236, 185, 185, 0.2);
  animation: bubble 15s linear infinite;
}

.bubble:nth-child(1) {
  animation-duration: 8s;
}

.bubble:nth-child(2) {
  animation-duration: 9s;
}

.bubble:nth-child(3) {
  animation-duration: 7s;
}

@keyframes bubble {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  50% {
    transform: translateY(-300px) translateX(150px) scale(1.2);
  }
  100% {
    transform: translateY(0) translateX(0) scale(1);
  }
}

.HeroWriteUp h1 {
  font-size: 90px;
  padding: 50px 400px 20px 100px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.HeroWriteUp h3 {
  padding: 30px 670px 20px 100px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 20px;
}

.HeroWriteUp span {
  color: rgb(51, 3, 3);
  color: white;
}

.HeroActionBtn {
  padding: 30px 670px 20px 100px;
}

#SRBtn,
#SWBtn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  width: 300px;
}

#SRBtn,
#SWBtn .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

#SRBtn::after,
#SWBtn:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

#SRBtn:hover,
#SWBtn:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

#SRBtn:hover,
#SWBtn:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

@media screen and (max-width: 980px) {
  .HeroSectionBody {
    background-position: center;
  }
  .HeroWriteUp h1 {
    font-size: 47px;
    padding: 50px 35px 20px 10px;
  }
  .HeroWriteUp h3 {
    padding: 0px 60px 20px 10px;
    font-size: 17px;
  }
  .HeroActionBtn {
    padding: 20px 0px 20px 10px;
  }
  #SRBtn,
  #SWBtn {
    margin-right: 10px;
    width: 200px;
    height: 50px;
    font-size: 13px;
    border: none;
  }
}
