.TopLayer {
  background-color: black;
  color: white;
}

.HomepageBody {
  background-color: #fbfade;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 980px) {
  .TopLayer {
    display: none;
  }
}
